# Geocoding & geo utils
certifi>=2024.7.4
geopy>=2.4.1
pygeohash>=3.2.2

# LADOT / API client
python-dotenv>=1.0.0
requests>=2.32.3

# FastAPI app (ladot_client)
fastapi>=0.104.1
pydantic>=2.5.2
uvicorn>=0.24.0

# Testing
pytest>=9.0.2

# DB
psycopg2-binary>=2.9.9